.yogi {
    font-size: 55px;
    text-align: left;
    padding: 10px;
    background: transparent;
    background-color: limegreen;
    color: white;
  }
  
  .mind{
    text-align: left;
    font-weight: 700;
   
  }
  body {
    background-image: url("http://www.seekgif.com/uploads/2017/06/c-c---c------c------13-c------pchome--26.jpeg");
  }
  
  div {
    padding: 50px 30px;
    text-align: left;
    float: center;
  } 

img {
    border: 10px solid limegreen;
    margin: 2.5cm;
    float: right;
}

article {
    margin: 3.5cm;
}

.Refine{
    margin: 1ch;
}